{
    "country": "US",
    "types": ["Reality", "Scripted"],
    "languages": ["English"],
    "networks": ["Discovery", "CBS", "Netflix", "Paramount+"],
    "notificationTime": "9:00",
    "slack": {
        "token": "xoxb-your-token-here",
        "channelId": "C01234ABCDE",
        "username": "WhatsOnTV",
        "icon_emoji": ":tv:",
        "dateFormat": "dddd, MMMM D, YYYY"
    }
}
